<!-- Social Icons -->
<ul class="icons">
  {%- if site.twitter_url -%}
  <li><a href="{{- site.twitter_url -}}" class="icon-b fa-twitter"><span class="label">Twitter</span></a></li>
  {%- endif -%}
  {%- if site.facebook_url -%}
  <li><a href="{{- site.facebook_url -}}" class="icon-b fa-facebook-f"><span class="label">Facebook</span></a></li>
  {%- endif -%}
  {%- if site.discord_url -%}
  <li><a href="{{- site.discord_url -}}" class="icon-b fa-discord"><span class="label">Discord</span></a></li>
  {%- endif -%}
  {%- if site.instagram_url -%}
  <li><a href="{{- site.instagram_url -}}" class="icon-b fa-instagram"><span class="label">Instagram</span></a></li>
  {%- endif -%}
  {%- if site.linkedin_url -%}
  <li><a href="{{- site.linkedin_url -}}" class="icon-b fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a href="{{- site.github_url -}}" class="icon-b fa-github"><span class="label">GitHub</span></a></li>
  {%- endif -%}
  {%- if site.steam_url -%}
  <li><a href="{{- site.steam_url -}}" class="icon-b fa-steam-symbol"><span class="label">Steam</span></a></li>
  {%- endif -%}
  {%- if site.slack_url -%}
  <li><a href="{{- site.slack_url -}}" class="icon-b fa-slack-hash"><span class="label">Slack</span></a></li>
  {%- endif -%}
  {%- if site.dribbble_url -%}
  <li><a href="{{- site.dribbble_url -}}" class="icon-b fa-dribbble"><span class="label">Dribbble</span></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a href="mailto:{{- site.email -}}" class="icon fa-envelope"><span class="label">Email</span></a></li>
  {%- endif -%}
  {%- if site.npm_url -%}
  <li><a href="{{- site.npm_url -}}" class="icon-b fa-npm"><span class="label">NPM</span></a></li>
  {%- endif -%}
  {%- if site.pypi_url -%}
  <li><a href="{{- site.pypi_url -}}" class="icon-b fa-python"><span class="label">PyPi</span></a></li>
  {%- endif -%}
  {%- if site.stack_exchange_url -%}
  <li><a href="{{- site.stack_exchange_url -}}" class="icon-b fa-stack-exchange"><span class="label">Stack Exchange</span></a></li>
  {%- endif -%}
  {%- if site.spotify_url -%}
  <li><a href="{{- site.spotify_url -}}" class="icon-b fa-spotify"><span class="label">Spotify</span></a></li>
  {%- endif -%}
  {%- if site.strava_url -%}
  <li><a href="{{- site.strava_url -}}" class="icon-b fa-strava"><span class="label">Strava</span></a></li>
  {%- endif -%}
  {%- if site.twitch_url -%}
  <li><a href="{{- site.twitch_url -}}" class="icon-b fa-twitch"><span class="label">Twitch</span></a></li>
  {%- endif -%}
  {%- if site.tumblr_url -%}
  <li><a href="{{- site.tumblr_url -}}" class="icon-b fa-tumblr"><span class="label">Tumblr</span></a></li>
  {%- endif -%}
  {%- if site.xbox_url -%}
  <li><a href="{{- site.xbox_url -}}" class="icon-b fa-xbox"><span class="label">Xbox</span></a></li>
  {%- endif -%}
  {%- if site.playstation_url -%}
  <li><a href="{{- site.playstation_url -}}" class="icon-b fa-playstation"><span class="label">PlayStation</span></a></li>
  {%- endif -%}
  {%- if site.digital_ocean_url -%}
  <li><a href="{{- site.digital_ocean_url -}}" class="icon-b fa-digital-ocean"><span class="label">Digital Ocean</span></a></li>
  {%- endif -%}
  {%- if site.youtube_url -%}
  <li><a href="{{- site.youtube_url -}}" class="icon-b fa-youtube"><span class="label">YouTube</span></a></li>
  {%- endif -%}
</ul>
